<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">John Marshall | CSV Engineer</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">John Marshall | CSV Engineer</li><li><a class="u-email" href="mailto:john.j.marshall@outlook.com">john.j.marshall@outlook.com</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/john-j-marshall"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">john-j-marshall</span></a></li><li><a href="https://www.twitter.com/TheJohnMars"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">TheJohnMars</span></a></li></ul>
  </div>
  
        <div class="footer-col footer-col-3">
          <p>john-j-marshall.github.io</p>
        </div>
      </div>
  
    </div>
  
  </footer>